<hr>
<div class="row">
    <div class="col-6 table-wrapper">
        <table id="values">
            <tr>
                <th *ngFor="let column of headers">
                    {{column}}
                </th>
            </tr>
            <tr *ngFor="let row of rows">
                <td>
                    <div class="excel" contenteditable (paste)="onPaste($event, 1)"
                        (keyup)="addData($event, 1)" data-placeholder="insert data"></div>
                </td>
                <td>
                    <div class="excel" contenteditable (paste)="onPaste($event, 2)"
                        (keyup)="addData($event, 2)" data-placeholder="insert data"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-3 matrix">
        <table>
            <caption>
                <h3>Fisher</h3>
                <span id="Result">Result matrix</span>
            </caption>
            
            <tr>
                <td>{{matrix[0][0]}}</td>
                <td>{{matrix[0][1]}}</td>
            </tr>
            <tr>
                <td>{{matrix[1][0]}}</td>
                <td>{{matrix[1][1]}}</td>
            </tr>
           
        </table>
        <div id="fisher">P value: {{fisher_pValue}}</div>
    </div>

    <div class="col-3 result">
        <div id="Mann-Whitney">
            <caption>
                <h3>Mann-Whitney</h3>
            </caption>
            <tr>
                <td>P value: <span>{{mann_pValue}}</span></td>
            </tr>
            <tr>
                <td>Stat: {{mann_stat}}</td>
            </tr>
        </div>
        
        <div id="Normality">
            <caption>
                <h3>Normality</h3>
            </caption>
            <tr>
                <td>P value: <span>{{norm_pValue}}</span></td>
            </tr>
            <tr>
                <td>Stat: {{norm_stat}}</td>
            </tr>
        </div>
    </div>

</div>
<div class="container">
    <button (click)="calculateResults()">Calculate results</button>
    <button (click)="reload()">New Calculation</button>
</div>