.table-wrapper {
    margin: auto;
    width: 50%;
    padding-top: 20px;
    
}
.results-button {
    text-align: center;
    margin: auto;
    padding: 8px;
    background-color:lightgray;

}

t1 {
    text-align: center;
}

#values {
        border-collapse: collapse;
        width: 100%;
    }

    #values td, #values th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        
    }

    #values th {
        padding-top:  12px;
        padding-bottom: 12px;
        text-align: center;
        background-color:lightgray;
    }

.excel:empty::before {
    content: attr(data-placeholder);
}