
<!-- 
    Here the grid html is handled and everything in {{}} is declared in teh grid.component.ts
    All logic is handled by functions in the ts component right now.

    This setup works with google sheets. If yoy copy, paste from google sheets the values will be printed in the console.log
    This will probably not work with excel data. 

-->
<hr>

<div class="table-wrapper">
    <table id="values">
        <tr>
            <th *ngFor="let column of headers" >
                {{column}}
            </th>
        </tr>

        <tr *ngFor="let row of rows">
            <td *ngFor="let column of headers">
                <span class="excel" contenteditable (input)="addData($event.target.innerText)" data-placeholder="insert data">{{row[column]}}</span>
            </td>
        </tr>
    </table>
</div>
