* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.table-wrapper {
    padding: 50px;
}


.matrix table{
    padding-left: 20px;
    text-align: center;
    
}

.result {
    padding-left: 40px;
}

.result td{
    min-width: 70px;
    font-size: 20px;
}


.matrix td {
    border: 1px solid black;
    min-width: 60px;
    padding-left: 5px;
    margin: 10px;
    text-align: center;
}

#Result {
    font-size: 20px;
}

#fisher {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}

#Mann-Whitney span{
    text-align:right;
}

.container {
    text-align: center;
    padding-top: 10px;
}

button {
    padding: 5px;
    margin: 10px;
}

t1 {
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#values {
    border-collapse: collapse;
    width: 100%;
}

#values td,
#values th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#values th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgray;
}

.excel:empty::before {
    content: attr(data-placeholder);
}



/* For desktop: */
.col-3 {width: 20%;}
.col-6 {width: 60%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   .col-6{width: 100%;}
   .col-3{width: 50%;}
}
